/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* STUB */
{
 font-size: 0pt;
}
span.rvts2 /* STUB */
{
 font-size: 0pt;
}
span.rvts3 /* STUB */
{
 font-size: 0pt;
}
span.rvts4 /* STUB */
{
 font-size: 0pt;
}
span.rvts5 /* STUB */
{
 font-size: 0pt;
}
span.rvts6 /* STUB */
{
 font-size: 0pt;
}
span.rvts7 /* STUB */
{
 font-size: 0pt;
}
span.rvts8 /* STUB */
{
 font-size: 0pt;
}
span.rvts9 /* STUB */
{
 font-size: 0pt;
}
span.rvts10 /* STUB */
{
 font-size: 0pt;
}
span.rvts11 /* STUB */
{
 font-size: 0pt;
}
span.rvts12 /* STUB */
{
 font-size: 0pt;
}
span.rvts13 /* STUB */
{
 font-size: 0pt;
}
span.rvts14 /* STUB */
{
 font-size: 0pt;
}
span.rvts15 /* STUB */
{
 font-size: 0pt;
}
span.rvts16 /* STUB */
{
 font-size: 0pt;
}
span.rvts17 /* STUB */
{
 font-size: 0pt;
}
span.rvts18 /* STUB */
{
 font-size: 0pt;
}
span.rvts19 /* STUB */
{
 font-size: 0pt;
}
span.rvts20 /* STUB */
{
 font-size: 0pt;
}
span.rvts21 /* STUB */
{
 font-size: 0pt;
}
span.rvts22 /* STUB */
{
 font-size: 0pt;
}
span.rvts23 /* STUB */
{
 font-size: 0pt;
}
span.rvts24 /* STUB */
{
 font-size: 0pt;
}
span.rvts25 /* STUB */
{
 font-size: 0pt;
}
span.rvts26 /* STUB */
{
 font-size: 0pt;
}
span.rvts27 /* STUB */
{
 font-size: 0pt;
}
span.rvts28 /* STUB */
{
 font-size: 0pt;
}
span.rvts29 /* STUB */
{
 font-size: 0pt;
}
span.rvts30 /* STUB */
{
 font-size: 0pt;
}
span.rvts31 /* STUB */
{
 font-size: 0pt;
}
span.rvts32 /* STUB */
{
 font-size: 0pt;
}
span.rvts33 /* STUB */
{
 font-size: 0pt;
}
span.rvts34 /* STUB */
{
 font-size: 0pt;
}
span.rvts35 /* STUB */
{
 font-size: 0pt;
}
span.rvts36 /* STUB */
{
 font-size: 0pt;
}
span.rvts37 /* STUB */
{
 font-size: 0pt;
}
span.rvts38 /* STUB */
{
 font-size: 0pt;
}
span.rvts39 /* STUB */
{
 font-size: 0pt;
}
span.rvts40 /* STUB */
{
 font-size: 0pt;
}
span.rvts41 /* STUB */
{
 font-size: 0pt;
}
span.rvts42 /* STUB */
{
 font-size: 0pt;
}
span.rvts43 /* STUB */
{
 font-size: 0pt;
}
span.rvts44 /* STUB */
{
 font-size: 0pt;
}
span.rvts45 /* STUB */
{
 font-size: 0pt;
}
span.rvts46 /* STUB */
{
 font-size: 0pt;
}
span.rvts47 /* STUB */
{
 font-size: 0pt;
}
span.rvts48 /* STUB */
{
 font-size: 0pt;
}
span.rvts49 /* STUB */
{
 font-size: 0pt;
}
span.rvts50 /* STUB */
{
 font-size: 0pt;
}
span.rvts51 /* STUB */
{
 font-size: 0pt;
}
span.rvts52 /* STUB */
{
 font-size: 0pt;
}
span.rvts53 /* STUB */
{
 font-size: 0pt;
}
span.rvts54 /* STUB */
{
 font-size: 0pt;
}
span.rvts55 /* STUB */
{
 font-size: 0pt;
}
span.rvts56 /* STUB */
{
 font-size: 0pt;
}
span.rvts57 /* STUB */
{
 font-size: 0pt;
}
span.rvts58 /* STUB */
{
 font-size: 0pt;
}
span.rvts59 /* STUB */
{
 font-size: 0pt;
}
span.rvts60 /* STUB */
{
 font-size: 0pt;
}
span.rvts61 /* STUB */
{
 font-size: 0pt;
}
span.rvts62 /* STUB */
{
 font-size: 0pt;
}
span.rvts63 /* STUB */
{
 font-size: 0pt;
}
span.rvts64 /* STUB */
{
 font-size: 0pt;
}
span.rvts65 /* STUB */
{
 font-size: 0pt;
}
span.rvts66 /* STUB */
{
 font-size: 0pt;
}
span.rvts67 /* STUB */
{
 font-size: 0pt;
}
span.rvts68 /* STUB */
{
 font-size: 0pt;
}
span.rvts69 /* STUB */
{
 font-size: 0pt;
}
span.rvts70 /* STUB */
{
 font-size: 0pt;
}
span.rvts71 /* STUB */
{
 font-size: 0pt;
}
span.rvts72 /* STUB */
{
 font-size: 0pt;
}
span.rvts73 /* STUB */
{
 font-size: 0pt;
}
span.rvts74 /* STUB */
{
 font-size: 0pt;
}
span.rvts75 /* STUB */
{
 font-size: 0pt;
}
span.rvts76 /* STUB */
{
 font-size: 0pt;
}
span.rvts77 /* STUB */
{
 font-size: 0pt;
}
span.rvts78 /* STUB */
{
 font-size: 0pt;
}
span.rvts79 /* STUB */
{
 font-size: 0pt;
}
span.rvts80 /* STUB */
{
 font-size: 0pt;
}
span.rvts81 /* STUB */
{
 font-size: 0pt;
}
span.rvts82 /* STUB */
{
 font-size: 0pt;
}
span.rvts83 /* STUB */
{
 font-size: 0pt;
}
span.rvts84 /* STUB */
{
 font-size: 0pt;
}
span.rvts85 /* STUB */
{
 font-size: 0pt;
}
span.rvts86 /* STUB */
{
 font-size: 0pt;
}
span.rvts87 /* STUB */
{
 font-size: 0pt;
}
span.rvts88 /* STUB */
{
 font-size: 0pt;
}
span.rvts89 /* STUB */
{
 font-size: 0pt;
}
span.rvts90 /* STUB */
{
 font-size: 0pt;
}
span.rvts91 /* STUB */
{
 font-size: 0pt;
}
span.rvts92 /* STUB */
{
 font-size: 0pt;
}
span.rvts93 /* STUB */
{
 font-size: 0pt;
}
span.rvts94 /* STUB */
{
 font-size: 0pt;
}
span.rvts95 /* STUB */
{
 font-size: 0pt;
}
span.rvts96 /* STUB */
{
 font-size: 0pt;
}
span.rvts97 /* STUB */
{
 font-size: 0pt;
}
span.rvts98 /* STUB */
{
 font-size: 0pt;
}
span.rvts99 /* STUB */
{
 font-size: 0pt;
}
span.rvts100 /* STUB */
{
 font-size: 0pt;
}
span.rvts101 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts102 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts103 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts104, span.rvts104 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts105 /* Normal text */
{
 font-size: 8pt;
 font-weight: bold;
 color: #ffffff;
}
a.rvts106, span.rvts106 /* Normal text */
{
 font-size: 9pt;
 color: #4a6782;
 text-decoration: none;
}
a.rvts106:hover { color: #bb7a2a; }
span.rvts107 /* Normal text */
{
 font-size: 11pt;
 color: #353833;
}
span.rvts108 /* Normal text */
{
 font-size: 15pt;
 font-weight: bold;
 color: #2c4557;
}
span.rvts109 /* Normal text */
{
 font-size: 14pt;
 font-weight: bold;
 color: #353833;
}
a.rvts110, span.rvts110 /* Normal text */
{
 font-size: 9pt;
 color: #ffffff;
 text-decoration: none;
}
a.rvts110:hover { color: #bb7a2a; }
span.rvts111 /* Normal text */
{
 font-size: 9pt;
 color: #ffffff;
}
span.rvts112 /* Normal text */
{
 font-size: 9pt;
 color: #353833;
}
span.rvts113 /* Normal text */
{
 font-size: 14pt;
 font-weight: bold;
 color: #2c4557;
}
span.rvts114 /* Normal text */
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #353833;
}
span.rvts115 /* Normal text */
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #353833;
}
span.rvts116 /* Normal text */
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
 color: #353833;
}
span.rvts117 /* Normal text */
{
 font-size: 11pt;
 font-weight: bold;
 color: #253441;
 background-color: #f8981d;
}
span.rvts118 /* Normal text */
{
 font-weight: bold;
 color: #353833;
}
a.rvts119, span.rvts119 /* Normal text */
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #4a6782;
 text-decoration: none;
}
a.rvts119:hover { color: #bb7a2a; }
span.rvts120 /* Normal text */
{
 color: #353833;
}
a.rvts121, span.rvts121 /* Normal text */
{
 font-size: 11pt;
 font-weight: bold;
 color: #ffffff;
 background-color: #4d7a97;
 text-decoration: none;
}
span.rvts122 /* Normal text */
{
 font-size: 12pt;
 font-weight: bold;
 color: #353833;
}
a.rvts123, span.rvts123 /* Normal text */
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #4a6782;
 text-decoration: none;
}
a.rvts123:hover { color: #bb7a2a; }
span.rvts124 /* Normal text */
{
 font-size: 9pt;
 color: #253441;
}
a.rvts125, span.rvts125 /* Normal text */
{
 font-size: 9pt;
 font-weight: bold;
 color: #4a6782;
 text-decoration: none;
}
a.rvts125:hover { color: #bb7a2a; }
span.rvts126 /* Normal text */
{
 font-size: 9pt;
 font-weight: bold;
 color: #4e4e4e;
}
span.rvts127 /* Normal text */
{
 font-size: 11pt;
 font-family: 'Georgia', serif;
 color: #474747;
}
a.rvts128, span.rvts128 /* Normal text */
{
 font-size: 11pt;
 color: #4a6782;
 text-decoration: none;
}
a.rvts128:hover { color: #bb7a2a; }
span.rvts129 /* Normal text */
{
 font-size: 11pt;
 font-style: italic;
 color: #353833;
}
a.rvts130, span.rvts130 /* Normal text */
{
 font-size: 11pt;
 font-weight: bold;
 color: #4a6782;
 text-decoration: none;
}
a.rvts130:hover { color: #bb7a2a; }
span.rvts131 /* Normal text */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts132 /* Normal text */
{
 font-size: 18pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
a.rvts133, span.rvts133 /* Normal text */
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts134, span.rvts134 /* Normal text */
{
 font-size: 8pt;
 font-weight: bold;
 color: #ffffff;
 text-decoration: none;
}
a.rvts134:hover { color: #bb7a2a; }
a.rvts135, span.rvts135 /* Normal text */
{
 font-weight: bold;
 color: #4a6782;
 text-decoration: none;
}
a.rvts135:hover { color: #bb7a2a; }
a.rvts136, span.rvts136 /* Normal text */
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
 color: #4a6782;
 text-decoration: none;
}
a.rvts136:hover { color: #bb7a2a; }
span.rvts137 /* Normal text */
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #474747;
}
span.rvts138 /* Normal text */
{
 font-style: italic;
}
/* ========== Para Styles ========== */
p,ul,ol /* left align */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* stub */
{
}
.rvps2 /* stub */
{
}
.rvps3 /* stub */
{
}
.rvps4 /* stub */
{
}
.rvps5 /* stub */
{
}
.rvps6 /* stub */
{
}
.rvps7 /* stub */
{
}
.rvps8 /* stub */
{
}
.rvps9 /* stub */
{
}
.rvps10 /* stub */
{
}
.rvps11 /* stub */
{
}
.rvps12 /* stub */
{
}
.rvps13 /* stub */
{
}
.rvps14 /* stub */
{
}
.rvps15 /* stub */
{
}
.rvps16 /* stub */
{
}
.rvps17 /* stub */
{
}
.rvps18 /* stub */
{
}
.rvps19 /* stub */
{
}
.rvps20 /* stub */
{
}
.rvps21 /* stub */
{
}
.rvps22 /* stub */
{
}
.rvps23 /* stub */
{
}
.rvps24 /* stub */
{
}
.rvps25 /* stub */
{
}
.rvps26 /* stub */
{
}
.rvps27 /* stub */
{
}
.rvps28 /* stub */
{
}
.rvps29 /* stub */
{
}
.rvps30 /* stub */
{
}
.rvps31 /* stub */
{
}
.rvps32 /* stub */
{
}
.rvps33 /* stub */
{
}
.rvps34 /* stub */
{
}
.rvps35 /* stub */
{
}
.rvps36 /* stub */
{
}
.rvps37 /* stub */
{
}
.rvps38 /* stub */
{
}
.rvps39 /* stub */
{
}
.rvps40 /* stub */
{
}
.rvps41 /* stub */
{
}
.rvps42 /* stub */
{
}
.rvps43 /* stub */
{
}
.rvps44 /* stub */
{
}
.rvps45 /* stub */
{
}
.rvps46 /* stub */
{
}
.rvps47 /* stub */
{
}
.rvps48 /* stub */
{
}
.rvps49 /* stub */
{
}
.rvps50 /* stub */
{
}
.rvps51 /* stub */
{
}
.rvps52 /* stub */
{
}
.rvps53 /* stub */
{
}
.rvps54 /* stub */
{
}
.rvps55 /* stub */
{
}
.rvps56 /* stub */
{
}
.rvps57 /* stub */
{
}
.rvps58 /* stub */
{
}
.rvps59 /* stub */
{
}
.rvps60 /* stub */
{
}
.rvps61 /* stub */
{
}
.rvps62 /* stub */
{
}
.rvps63 /* stub */
{
}
.rvps64 /* stub */
{
}
.rvps65 /* stub */
{
}
.rvps66 /* stub */
{
}
.rvps67 /* stub */
{
}
.rvps68 /* stub */
{
}
.rvps69 /* stub */
{
}
.rvps70 /* stub */
{
}
.rvps71 /* stub */
{
}
.rvps72 /* stub */
{
}
.rvps73 /* stub */
{
}
.rvps74 /* stub */
{
}
.rvps75 /* stub */
{
}
.rvps76 /* stub */
{
}
.rvps77 /* stub */
{
}
.rvps78 /* stub */
{
}
.rvps79 /* stub */
{
}
.rvps80 /* stub */
{
}
.rvps81 /* stub */
{
}
.rvps82 /* stub */
{
}
.rvps83 /* stub */
{
}
.rvps84 /* stub */
{
}
.rvps85 /* stub */
{
}
.rvps86 /* stub */
{
}
.rvps87 /* stub */
{
}
.rvps88 /* stub */
{
}
.rvps89 /* stub */
{
}
.rvps90 /* stub */
{
}
.rvps91 /* stub */
{
}
.rvps92 /* stub */
{
}
.rvps93 /* stub */
{
}
.rvps94 /* stub */
{
}
.rvps95 /* stub */
{
}
.rvps96 /* stub */
{
}
.rvps97 /* stub */
{
}
.rvps98 /* stub */
{
}
.rvps99 /* stub */
{
}
.rvps100 /* stub */
{
}
.rvps101 /* centered */
{
 text-align: center;
}
.rvps102 /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 background: #4d7a97;
 padding: 11px 7px 5px 11px;
 margin: 0px 0px 0px 0px;
}
.rvps103 /* Paragraph Style */
{
 margin: 2px 0px 0px 40px;
}
.rvps104 /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 10px 0px 10px 0px;
}
.rvps105 /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 19px 0px 19px 0px;
}
.rvps106 /* Paragraph Style */
{
 background: #4d7a97;
 padding: 10px 0px 0px 0px;
}
.rvps107 /* Paragraph Style */
{
 background: #4d7a97;
 padding: 10px 0px 0px 0px;
 margin: 0px 6px 5px 6px;
}
.rvps108 /* Paragraph Style */
{
 background: #dee3e9;
 margin: 5px 6px 5px 6px;
}
.rvps109 /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 10px 0px 10px 0px;
}
.rvps110 /* Paragraph Style */
{
 margin: 0px 0px 0px 40px;
}
.rvps111 /* Paragraph Style */
{
 margin: 10px 0px 10px 0px;
}
.rvps112 /* Paragraph Style */
{
 margin: 0px 0px 15px 40px;
}
.rvps113 /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 border-color: #ededed;
 border-style: solid;
 border-width: 1px;
 background: #f8f8f8;
 padding: 0px 20px 5px 10px;
 margin: 14px 0px 9px 0px;
}
.rvps114 /* Paragraph Style */
{
 border-color: #ededed;
 border-style: solid;
 border-width: 1px;
 background: #f8f8f8;
 padding: 0px 20px 5px 10px;
}
.rvps115 /* Paragraph Style */
{
 border-color: #ededed;
 border-style: solid;
 border-width: 1px;
 background: #f8f8f8;
 padding: 0px 20px 5px 10px;
 margin: 9px 0px 0px 0px;
}
.rvps116 /* Paragraph Style */
{
 text-align: center;
 border-color: #ededed;
 border-style: solid;
 border-width: 1px;
 background: #f8f8f8;
 padding: 0px 20px 5px 10px;
}
.rvps117 /* Paragraph Style */
{
 border-color: #ededed;
 border-style: solid;
 border-width: 1px;
 background: #ffffff;
 padding: 0px 20px 5px 10px;
 margin: 0px 0px 14px 0px;
}
.rvps118 /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 border-color: #d0d9e0;
 border-style: solid;
 border-width: 1px;
 background: #dee3e9;
 padding: 7px 5px 7px 5px;
 margin: 0px 0px 5px 0px;
}
.rvps119 /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 border-color: #d0d9e0;
 border-style: solid;
 border-width: 1px;
 background: #dee3e9;
 padding: 7px 5px 7px 5px;
 margin: 0px 0px 5px 0px;
}
.rvps120 /* Paragraph Style */
{
 background: #f8981d;
 padding: 5px 6px 5px 6px;
 margin: 0px 5px 0px 5px;
}
.rvps121 /* Paragraph Style */
{
 background: #dee3e9;
 margin: 0px 0px 0px 40px;
}
.rvps122 /* Paragraph Style */
{
 margin: 10px 0px 0px 0px;
}
.rvps123 /* Paragraph Style */
{
 margin: 5px 0px 10px 40px;
}
.rvps124 /* Paragraph Style */
{
 border-color: #ededed;
 border-style: solid;
 border-width: 1px;
 background: #f8f8f8;
 padding: 0px 20px 5px 10px;
 margin: 9px 0px 0px 0px;
}
.rvps125 /* Paragraph Style */
{
 border-color: #ededed;
 border-style: solid;
 border-width: 1px;
 background: #f8f8f8;
 padding: 0px 20px 5px 10px;
 margin: 4px 0px 4px 29px;
}
.rvps126 /* Paragraph Style */
{
 margin: 3px 10px 2px 0px;
}
.rvps127 /* Paragraph Style */
{
 margin: 5px 0px 0px 0px;
}
.rvps128 /* Paragraph Style */
{
 margin: 10px 20px 10px 20px;
}
.rvps129 /* Paragraph Style */
{
 margin: 7px 0px 7px 0px;
}
.rvps130 /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 19px 0px 22px 0px;
}
.rvps131 /* Paragraph Style */
{
 margin: 10px 0px 0px 1px;
}
.rvps132 /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 19px 0px 39px 0px;
}
.rvps133 /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 border-color: #ededed;
 border-style: solid;
 border-width: 1px;
 background: #ffffff;
 padding: 0px 20px 15px 10px;
 margin: 18px 0px 3px 0px;
}
.rvps134 /* Paragraph Style */
{
 border-color: #ededed;
 border-style: solid;
 border-width: 1px;
 background: #ffffff;
 padding: 0px 20px 5px 10px;
}
.rvps135 /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 border-color: #ededed;
 border-style: solid;
 border-width: 1px;
 background: #ffffff;
 padding: 0px 20px 5px 10px;
 margin: 18px 0px 13px 0px;
}
.rvps136 /* Paragraph Style */
{
 border-color: #ededed;
 border-style: solid;
 border-width: 1px;
 background: #f8f8f8;
 padding: 0px 20px 5px 10px;
 margin: 2px 0px 0px 0px;
}
.rvps137 /* Paragraph Style */
{
 border-color: #ededed;
 border-style: solid;
 border-width: 1px;
 background: #f8f8f8;
 padding: 0px 20px 5px 10px;
 margin: 0px 0px 0px 29px;
}
.rvps138 /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 19px 0px 19px 0px;
}
.rvps139 /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 border-color: #ededed;
 border-style: solid;
 border-width: 1px;
 background: #f8f8f8;
 padding: 0px 20px 5px 10px;
 margin: 18px 0px 13px 0px;
}
.rvps140 /* Paragraph Style */
{
 border-color: #ededed;
 border-style: solid;
 border-width: 1px;
 background: #ffffff;
 padding: 0px 20px 5px 10px;
 margin: 2px 0px 0px 0px;
}
